html, body, a, button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.dice {
    width: 130px;
    height: 130px;
    text-align: center;
}
.a {
    text-align: right;
}
.b {
    text-align: left;
}
input[type=checkbox] {
    /* Double-sized Checkboxes */
    height: 3vw;
	border-radius: 20px;
}
.icon{
    height: 7vw;
    width: 7vw;
}
.small{
    height: 2vw;
    width: 2vw;
}
.key{
    font-size: x-large;
    padding-right: 10px;
}
.steal, #vp-cell{
    padding: 20px;
}

input[type=number] {
	font-size: 40px;
	border-radius: 5px;
	margin-top: 10px;
}

.steal-btn {
	font-size: 20px;
}

.large {
	font-size: xx-large;
	padding-bottom: 5px;
}

.key button {
	font-family: inherit;
	background-color: transparent;
	border: none;
	font-size: inherit;
	border: 2px solid black;
	border-radius: 10px;
	margin: 5px;
}